#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin: 10px;
}

.darkModeBody{
    background-color: black;
    color: white;
}

.darkModeName{
    background-color: rgb(18, 9, 3);
}

.darkModeImg{
    background-color: rgb(25, 32, 40);
}

.pokeCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgb(128, 79, 0);
}

.pokeCard:hover{
    cursor: pointer;
}

.pokeName{
    border-bottom: 1px solid rgb(128, 79, 0);
}

.grassType{
    background-color: rgb(0, 123, 0);
    color: #000;
}

.fireType{
    background-color: rgb(255, 0, 0);
    color: #000;
}

.waterType{
    background-color: rgb(0, 255, 255);
    color: #000;
}

.normalType{
    background-color: rgb(218, 182, 134);
    color: #000;
}

.electricType{
    background-color: rgb(255, 255, 0);
    color: #000;
}

.psychicType{
    background-color: rgb(126, 4, 126);
    color: #000;
}

.dragonType{
    background-color: rgb(1, 1, 77);
    color: rgb(255, 255, 255);
}